doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Amory Manuel')
  title Article Bullet
  // Bootstrap core CSS
  link(href='./vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='./vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='./vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  // Custom styles for this template
  link(href='./css/landing-page.css' rel='stylesheet')
  script(type='text/javascript' src='./scripts/scripts.js')
  link(href='./css/style2.css' rel='stylesheet')
  link(href='./css/bulletstyle.css' rel='stylesheet')
  script(type='text/javascript' src='./tldr-News-master/tldr.js')
  script(src='./tldr-News-master/jquery.js')
  script(src='./scripts/angular.min.js')
  script(src='./scripts/editor.js')
  script(src='./scripts/savepost.js')
// Navigation
nav.navbar.bg-white.border-bottom.border-dark.static-top(style='border-width:3px!important;')
  .container.container3
    a.navbar-brand(style='color:#000000 !important' href='./index')
      img(style='height:60px;margin-top:-3px; padding-right:10px;vertical-align:center;' src='./img/bullet.png')
      | BulletSlides
    a.btn.btn-primary(href='#') Sign In
// Masthead
header.masthead2.text-center.editorpage
  .container(style='margin-top:-80px')
    .row
      .col-xl-7.mx-auto.topmenu
        button#savepreview.btn.btn-primary Save
        a#present.btn.btn-primary(href='./preview') Present
      #focused.col-xl-7.bg-white.mx-auto.border.border-dark.rounded.bulletpage(contenteditable='true')
        h2#intitle.test(style='margin-left:24px' placeholder='Title')
        p#inauthor.test(style='margin-left:24px' placeholder='Your Name')
        div(contenteditable='false')
          hr
          ul#ultext(style='text-align:left')
            // modal link window
            #myModal.modal
              .modal-content
                label(for='inputURL') Web address (URL): 
                input#inputURL(type='text' name='inputURL')
                .buttonz
                  button#submitlink.btn.btn-primary Save
                  button#cancellink.btn.btn-secondary Cancel
            li#secretpt
              textarea.test2(data-icons='0' rows='1')
              a.URLtext(href='#')
              .btncol(align='left')
                button.btn.btn-danger.minusbutton(href='#!') &minus;
                button.btn.btn-primary.addbutton(href='#!')
                  img.addicon(src='./svgs/icons/list-ul.svg')
                .dropdown-content
                  a.textbutton(href='#!')
                    | Text
                    img(src='./svgs/icons/document-text.svg')
                  hr
                  a.imgbutton(href='#!')
                    | Image
                    img(src='./svgs/icons/image.svg')
                  hr
                  a.linkbtn(href='#!')
                    | Link
                    img(src='./svgs/icons/box-arrow-up-right.svg')
            ul#secretimg
              li
                .imgslot
                  input(type='file')
                .btncol(align='left')
                  button.btn.btn-danger.minusbutton(href='#!') &minus;
            ul#secretul
              li
                textarea.test2(data-icons='0' rows='1')
                a.URLtext(href='#')
                a.URLtext(href='#')
                .btncol(align='left')
                  button.btn.btn-danger.minusbutton(href='#!') &minus;
                  button.btn.btn-primary.addbutton(href='#!')
                    img.addicon(src='./svgs/icons/list-ul.svg')
                  .dropdown-content
                    a.textbutton(href='#!')
                      | Text
                      img(src='./svgs/icons/document-text.svg')
                    hr
                    a.imgbutton(href='#!')
                      | Image
                      img(src='./svgs/icons/image.svg')
                    hr
                    a.linkbtn(href='#!')
                      | Link
                      img(src='./svgs/icons/box-arrow-up-right.svg')
            li#firstpt.point
              textarea.test2(data-icons='0' rows='1' placeholder='Bullet 1')
              a.URLtext(href='#')
              .btncol(align='left')
                button.btn.btn-danger.minusbutton(href='#!') &minus;
                button.btn.btn-primary.addbutton(href='#!')
                  img.addicon(src='./svgs/icons/list-ul.svg')
                .dropdown-content
                  a.textbutton(href='#!')
                    | Text
                    img(src='./svgs/icons/document-text.svg')
                  hr
                  a.imgbutton(href='#!')
                    | Image
                    img(src='./svgs/icons/image.svg')
                  hr
                  a.linkbtn(href='#!')
                    | Link
                    img(src='./svgs/icons/box-arrow-up-right.svg')
            li.point
              textarea.test2(data-icons='0' rows='1' placeholder='Bullet 2')
              a.URLtext(href='#')
              .btncol(align='left')
                button.btn.btn-danger.minusbutton(href='#!') &minus;
                button.btn.btn-primary.addbutton(href='#!')
                  img.addicon(src='./svgs/icons/list-ul.svg')
                .dropdown-content
                  a.textbutton(href='#!')
                    | Text
                    img(src='./svgs/icons/document-text.svg')
                  hr
                  a.imgbutton(href='#!')
                    | Image
                    img(src='./svgs/icons/image.svg')
                  hr
                  a.linkbtn(href='#!')
                    | Link
                    img(src='./svgs/icons/box-arrow-up-right.svg')
            li.point
              textarea.test2(data-icons='0' rows='1' placeholder='Bullet 3')
              a.URLtext(href='#')
              .btncol(align='left')
                button.btn.btn-danger.minusbutton(href='#!') &minus;
                button.btn.btn-primary.addbutton(href='#!')
                  img.addicon(src='./svgs/icons/list-ul.svg')
                .dropdown-content
                  a.textbutton(href='#!')
                    | Text
                    img(src='./svgs/icons/document-text.svg')
                  hr
                  a.imgbutton(href='#!')
                    | Image
                    img(src='./svgs/icons/image.svg')
                  hr
                  a.linkbtn(href='#!')
                    | Link
                    img(src='./svgs/icons/box-arrow-up-right.svg')
          ul
            li
              button.btn.btn-light.newpt2(href='#!') +
// Footer
footer.footer.bg-light
  .container
    .row
      .col-lg-6.h-100.text-center.text-lg-left.my-auto
        ul.list-inline.mb-2
          li.list-inline-item
            a(href='#!') About
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#!') Contact
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#!') Terms of Use
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#!') Privacy Policy
        p.text-muted.small.mb-4.mb-lg-0 &copy; Your Website 2019. All Rights Reserved.
      .col-lg-6.h-100.text-center.text-lg-right.my-auto
        ul.list-inline.mb-0
          li.list-inline-item.mr-3
            a(href='#!')
              i.fab.fa-facebook.fa-2x.fa-fw
          li.list-inline-item.mr-3
            a(href='#!')
              i.fab.fa-twitter-square.fa-2x.fa-fw
          li.list-inline-item
            a(href='#!')
              i.fab.fa-instagram.fa-2x.fa-fw
// Bootstrap core JavaScript
script(src='./vendor/jquery/jquery.min.js')
script(src='./vendor/bootstrap/js/bootstrap.bundle.min.js')
