doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Amory Manuel')
  title Article Bullet
  // Bootstrap core CSS
  link(href='./vendor/bootstrap/css/bootstrap.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='./vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='./vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  script(type='text/javascript' src='./scripts/scripts.js')
  // Custom styles for this template
  link(href='./css/landing-page.css' rel='stylesheet')
  link(href='./css/style2.css' rel='stylesheet')
// Navigation
nav.navbar.bg-white.border-bottom.border-dark.static-top(style='border-width:3px!important;')
  .container.container3
    a.navbar-brand(style='color:#000000!important' href='/')
      img(style='height:60px;margin-top:-3px; padding-right:10px;vertical-align:center;' src='./img/bullet.png')
      | BulletSlides
    div
      if(isSigned)
        a.btn.btn-primary(href='/users/' + isSigned + '/documents') Library
        a.btn.btn-danger(href='/logout') Log Out
      else
        a.btn.btn-primary(href='/login') Log In
        a.btn.btn-primary(href='/signup') Sign Up
header.masthead
  .container(style='margin-top:-80px')
    .row
      .col-xl-7.bg-white.mx-auto.border.border-dark.rounded(style='padding:40px 30px 30px; background-color:white!important; border-width:3px!important; margin-bottom:400px!important')
        h2(style='margin-left:24px') Nov 2019 subscribers and finances report, The Jazz Beat Magazine
        byline(style='margin-left:24px')
          i by Amory Manuel
        hr
        ul(style='text-align:left')
          li
            | A combination of strong readership numbers, targeted advertisements, strong development and uptick in subscribers has made this one of our best months of the year!
          li
            | Coming off of a record-breaking influx of 248 subscribers, we hit an exciting milestone: 2000 total subscriptions. However, this month&apos;s 53 cancelled subscriptions is a cause for concern.
            button.droptweet.invis(type='button')
              img.twiticon(src='./svgs/icons/table.svg')
            .subtweet
              table.table.table-bordered
                tr
                  th Total Subscriptions
                  th 1,999
                tr
                  th New Subscriptions this month
                  th 248
                tr
                  th Cancellations this month
                  th 53
                tr
                  th Cumulative Income
                  th $30,642
          li
            | Subscriptions are fairly evenly divided between our different offerings. Our latest subscription plan has been gaining ground since its release.
            button#dropimg.dropimg.invis(type='button')
              img#img4(src='./svgs/icons/graph-up.svg')
            #subimg1.subimg
              br
              img.centerimg(src='./img/graph.png')
              br
footer.footer
  .container
    .row
      .col-lg-6.h-100.text-center.text-lg-left.my-auto
        ul.list-inline.mb-2
          li.list-inline-item
            a(href='#') About
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Contact
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Terms of Use
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Privacy Policy
        p.small.mb-4.mb-lg-0 &copy; BulletSlides 2020. All Rights Reserved.
      .col-lg-6.h-100.text-center.text-lg-right.my-auto
        ul.list-inline.mb-0
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-facebook.fa-2x.fa-fw
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-twitter-square.fa-2x.fa-fw
          li.list-inline-item
            a(href='#')
              i.fab.fa-instagram.fa-2x.fa-fw
// Masthead
// Footer
// Bootstrap core JavaScript
script(src='./vendor/jquery/jquery.min.js')
script(src='./vendor/bootstrap/js/bootstrap.bundle.min.js')
script(type='text/javascript' src='./scripts/dropdown.js')
