doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Amory Manuel')
  title Article Bullet
  // Bootstrap core CSS
  link(href='/vendor/bootstrap/css/bootstrap.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='/vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  script(type='text/javascript' src='/scripts/scripts.js')
  // Custom styles for this template
  link(href='/css/style2.css' rel='stylesheet')
  link(href='/css/collectionstyle.css' rel='stylesheet')
// Navigation
nav.navbar.bg-white.border-bottom.border-dark.static-top(style='border-width:3px!important;')
  .container.container3
    a.navbar-brand(style='color:#000000 !important' href='./')
      img(style='height:60px;margin-top:-3px; padding-right:10px;vertical-align:center;' src='/img/bullet.png')
      | BulletSlides
    a.btn.btn-primary(href='/login') Sign In
.masthead2(style="padding-bottom:300px!important")
  .container
    .row
      .col-md-1
      a.col-md-3.mx-auto.my-auto.prevThumb(href='/example1')
        .previewthumb.border.bg-white.border-dark.rounded.pr-3.pt-4
          h6(style='margin-left:30px')
            | RIP Spitzer: NASA bids an emotional farewell to its infrared space telescope
          byline.prevbyline
            i by Jonathan Chadwick
          hr
          ul(style='text-align:left')
            li
              | NASA scientists have declared the mission of the Spitzer space telescope over after 16 years of service
            li
              | The legendary infrared space telescope was placed in safe mode on Thursday, ceasing all science operations
            li
              | Since its launch in 2003 it discovered Saturn&apos;s largest ring and discovered  planets beyond our Solar System
            li
              | Spitzer was one of four Great Observatories telescopes released between 1990-2003 to study the universe in by capturing different waves of light
        h4 Science Report
      a.col-md-3.mx-auto.my-auto.prevThumb(href='/example2')
        .previewthumb.border.bg-white.border-dark.rounded.pr-3.pt-4
          h6(style='margin-left:30px')
            | Democrats complain that Facebook and Twitter won&apos;t take down faked video
          byline.prevbyline
            i by Ariel Zilber
          hr
          ul(style='text-align:left')
            li
              | President Trump on Thursday posted a doctored video clip titled &lsquo;Powerful American stories ripped to shreds by Nancy Pelosi
            li
              | The spliced clip makes it appear as if Pelosi tore up Trump&apos;s State of the Union speech as the president paid tribute to Charles McGee
            li
              | The doctored clip posted by Trump has generated millions of views on the president&apos;s social media pages on Twitter and Facebook
            li
              | Democratic members of Congress and Pelosi aides were outraged after Facebook and Twitter declined to remove the clip
        h4 Political News
      a.col-md-3.mx-auto.my-auto.prevThumb(href='/example3')
        .previewthumb.border.bg-white.border-dark.rounded.pr-3.pt-4
          h6(style='margin-left:30px')
            | Nov 2019 subscribers and finances report, The Jazz Beat Magazine
          byline.prevbyline
            i by Amory Manuel
          hr
          ul(style='text-align:left')
            li
              | A combination of strong readership numbers, targeted advertisements, strong development and uptick in subscribers has made this one of our best months of the year!
            li
              | Coming off of a record-breaking influx of 248 subscribers, we hit an exciting milestone: 2000 total subscriptions. However, this month&apos;s 53 cancelled subscriptions is a cause for concern.
            li
              | Subscriptions are fairly evenly divided between our different offerings. Our latest subscription plan has been gaining ground since its release.
        h4 Business Report
      .col-md-2
// Footer
footer.footer
  .container
    .row
      .col-lg-6.h-100.text-center.text-lg-left.my-auto
        ul.list-inline.mb-2
          li.list-inline-item
            a(href='#') About
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Contact
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Terms of Use
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Privacy Policy
        p.small.mb-4.mb-lg-0 &copy; BulletSlides 2020. All Rights Reserved.
      .col-lg-6.h-100.text-center.text-lg-right.my-auto
        ul.list-inline.mb-0
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-facebook.fa-2x.fa-fw
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-twitter-square.fa-2x.fa-fw
          li.list-inline-item
            a(href='#')
              i.fab.fa-instagram.fa-2x.fa-fw
// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(type='/text/javascript' src='/scripts/dropdown.js')
