doctype html
head
  link(rel='icon' type='image/ico' href='./bulletfavicon.ico')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Amory Manuel')
  title Bullet Slides
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  // Custom styles for this template
  link(href='css/landing-page.min.css' rel='stylesheet')
  script(type='text/javascript' src='./scripts/scripts.js')
  link(href='css/style2.css' rel='stylesheet')
  link(href='css/boxstyle.css' rel='stylesheet')
.iconatts
  div
    | Icons made by 
    a(href='https://www.flaticon.com/authors/kiranshastry' title='Kiranshastry') Kiranshastry
    |  from 
    a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
  div
    | Icons made by 
    a(href='https://www.flaticon.com/authors/pixel-perfect' title='Pixel perfect') Pixel perfect
    |  from 
    a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
  div
    | Icons made by 
    a(href='https://www.flaticon.com/authors/mynamepong' title='mynamepong') mynamepong
    |  from 
    a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
// Navigation
nav.navbar.bg-white.border-bottom.border-dark.static-top(style='border-width:3px!important;')
  .container.container3
    a.navbar-brand(href='/')
      img(style='height:60px;margin-top:-3px; padding-right:10px;vertical-align:center;' src='./img/bullet.png')
      | BulletSlides
    div
      if(isSigned)
        a.btn.btn-primary(href='./users/' + isSigned + '/documents') Library
        a.btn.btn-danger(href='/logout') Log Out
      else
        a.btn.btn-primary(href='/login') Log In
        a.btn.btn-primary(href='/signup') Sign Up
// Masthead
header.masthead.text-white.text-center(style='padding-bottom:0px!important;padding-top:8rem!important')
  .overlay
  .container.container2
    .row
      .col-md-5(style='padding-right:35px!important; margin-left:60px!important')
        h1#txt1.mb-5(style='margin-bottom:1.75rem!important')
          | Give your readers the freedom to learn about what interests them &#x9;&mdash; and skim the boring stuff.
        h4(style='text-align:left!important; margin-bottom:2.4rem!important')
          ul
            li A more efficient way to present information
            li Learn more about your audience
            li Fast and easy to make!
        .form-row
          .col-12.col-md-5(style='margin-right:15px!important;')
            a#btn1.btn.btn-block.btn-lg.btn-primary(type='button' href='./signup') Get Started
          .col-12.col-md-5
            a#btn2.btn.btn-block.btn-lg.btn-primary(type='button' href='/examplelibrary') Examples
      .col-md-4.bg-white.mx-auto.border.border-dark.rounded.shrink.more(class='.offset-md-1' style='padding:40px 30px 30px; background-color:white!important; border-width:3px!important;  color:#212529!important;text-align:left!important; min-width:537px!important; max-width:622px!important;min-height:690px;max-height:703px!important; margin-top:-66px!important')
        h2(style='margin-left:24px') NASA bids farewell to Spitzer
        byline(style='margin-left:24px')
          i by Jonathan Chadwick
          |  &mdash; 
          a(href='https://www.dailymail.co.uk/sciencetech/article-7952023/NASA-turns-Spitzer-space-telescope-16-years-service.html') The Daily Mail
        hr
        ul(style='text-align:left')
          li
            span#highlight1
              | NASA scientists have declared the mission of the Spitzer space telescope over after 16 years of service
            button#drop1.drop.invis(type='button')
              img#img1(src='./svgs/icons/document-text.svg')
            ul#ul1.subpt
              li
                | NASA mission control downloaded the last Spitzer data and sent through a command to enter safe mode on Thursday, ceasing all scientific operations.
              li
                | At 2:34 pm PST (10:24pm GMT) on Thursday, Spitzer Project Manager Joseph Hunt declared the spacecraft officially decommissioned, bringing its mission to an end.
          li
            span#highlight2
              | The legendary infrared space telescope was placed in safe mode on Thursday, ceasing all science operations
            button.droptweet.invis(type='button')
              img.twiticon(src='./img/twitter.svg')
            .subtweet
              blockquote.twitter-tweet(data-cards='hidden')
                p(lang='en' dir='ltr')
                  | At 2:34 pm PST on Jan. 30, 2020, Spitzer Project Manager Joseph Hunt declared the Spitzer spacecraft decommissioned. 
                  br
                  br
                  | Farewell, Spitzer. Thank you for the great science. &#x1F44B;
                  a(href='https://twitter.com/hashtag/SpitzerFinalVoyage?src=hash&ref_src=twsrc%5Etfw') #SpitzerFinalVoyage
                  a(href='https://t.co/o1J0vNp2dt') https://t.co/o1J0vNp2dt
                | &mdash; NASA Spitzer (@NASAspitzer) 
                a(href='https://twitter.com/NASAspitzer/status/1223023276986789888?ref_src=twsrc%5Etfw') January 30, 2020
              script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')

          li
            span#highlight3
              | Since its launch in 2003 it discovered Saturn&apos;s largest ring and discovered  planets beyond our Solar System
            button#drop2.drop.invis(type='button')
            button#dropimg.dropimg.invis(type='button')
              img#img4(src='./svgs/icons/image.svg')
            a(href='https://science.nasa.gov/science-news/science-at-nasa/2009/07oct_giantring' target='_blank')
              img.linkbtn(src='./svgs/icons/box-arrow-up-right.svg')
            #subimg1.subimg
              br
              img.centerimg(src='./img/spitzer.jpeg' style='height:260px!important')
              b.centerimg(style='line-height:1.15; margin-top:5px;')
                | This artist&apos;s conception shows a nearly invisible ring around Saturn discovered by Spitzer
section#boxes
  .boxcontainer
    .box
      img(src='./img/edit.svg')
      h3
        i Create
      p
        | Create Bullet Slides with embedded links, images, videos and more using our editor tool. Combine multiple slides for longer presentations and save to your personal library.
    .box
      img(src='./img/share.svg')
      h3 Share
      p
        | Bullet Slides are an interactive and engaging new way to present information. Your readers will &quot;opt in&quot; to the level of detail they need by expanding primary bullet points to reveal hidden content.
    .box
      img(src='./img/analysis.svg')
      h3 Learn
      p
        | The interactive nature of Bullet Slides allows you to learn more about your audience. Using our Bullet Analytics data you can gain key insights on which points piqued your readers&apos; interest.
  br
// Footer
footer.footer
  .container
    .row
      .col-lg-6.h-100.text-center.text-lg-left.my-auto
        ul.list-inline.mb-2
          li.list-inline-item
            a(href='#') About
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Contact
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Terms of Use
          li.list-inline-item &sdot;
          li.list-inline-item
            a(href='#') Privacy Policy
        p.small.mb-4.mb-lg-0 &copy; BulletSlides 2020. All Rights Reserved.
      .col-lg-6.h-100.text-center.text-lg-right.my-auto
        ul.list-inline.mb-0
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-facebook.fa-2x.fa-fw
          li.list-inline-item.mr-3
            a(href='#')
              i.fab.fa-twitter-square.fa-2x.fa-fw
          li.list-inline-item
            a(href='#')
              i.fab.fa-instagram.fa-2x.fa-fw
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
script(type='text/javascript' src='./scripts/dropdownhome.js')